#markdown-toc {
    display: none;
}
.page[post] {
    .label {
        margin-top: 16px;
        overflow: hidden;
        .label-card {
            float: left;
            margin-right: 15px;
            .point {
                padding: 0 1px;
                color: #ffffff;
            }
            i {
                padding-right: 1px;
                color: #a3a3a3;
            }
        }
    }
    a {
        color: #999;
        transition: 0.5s ease;
        &:hover {
            color: #1e3157;
            // background-color: #757575;
        }
    }
    .left {
        h1{
            font-weight: 300;
            color: #837800;
            font-size: 80px;
        }
        ul {
            >h2 {
                color: #ffffff;
            }
            li {
                color: #ffffff;
                margin: 0;
            }
        }
        // .post-recent {
        //     width: 100%;
        //     overflow: hidden;
        //     padding: 4px;
        //     .pre{
        //         width: 49%;
        //         float: left;
        //     }
        //     .nex{
        //         width: 49%;
        //         float: right;
        //         text-align: right;
        //     }
        //     p {
        //         min-height: 70px;
        //         box-sizing: border-box;
        //         padding: 10px;
        //         background-color: #fff;
        //         box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);
        //     }
        // }
    }
}
@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
